.bg(@color){
    @color-var: if(iscolor(@color), @color, var(escape('--@{color}')));
    @color-raw: if(iscolor(@color),@color,@@color);
    background-color: hsla(from @color-var var(--bg-h, h) var(--bg-s, s) var(--bg-l, l) / var(--bg-a, 1)) ;
    color: .getBestReadableFontColorOn(@color-raw)[@result];
    // color: .adjustContrast(#body[color],@color-raw)[@result];
    // .debug(.adjustContrast(#body[color],@color-raw)[@debug]); 
    padding: var(--spacing);
    a{
        // --link-color: mix(#link[color], .getBestReadableFontColorOn(@color-raw)[@result],60%);
        // .debug(luma(@color-raw) luma(#link[color]));
        --link-color: .adjustContrast(#link[color],@color-raw)[@result];
        &:hover{
            // --link-color: mix(#link[@color-hover], .getBestReadableFontColorOn(@color-raw)[@result],60%);
            --link-color: .adjustContrast(#link[@color-hover],@color-raw,@threshold:2)[@result];
            // .debug(.adjustContrast(#link[@color-hover],@color-raw,@threshold:2)[@debug]);
        }
    }
}


each(#colors(),{
    .bg-@{key}{
        .bg(@value);
    }
})
each(#alias(),{
    .bg-@{key}{
        .bg(@key);
    }
})
.bg-none{
    background: transparent;
    color: inherit;
}

each(range(0,100,10),{
    .bg-a-@{value}{
        --bg-a: ~(@value*1%);
    }
    .bg-l-@{value}{
        --bg-l: ~(@value*1%);
    }
    .bg-s-@{value}{
        --bg-s: ~(@value*1%);
    }
})