@maxLoop: 5;
.adjustContrast(@upper,@lower,@threshold: 4%,@counter:0,@force:false){
    @contrast: .contrast(@upper,@lower);
    @adjust: 25;
    @isOK : boolean((@contrast[@result] >= @threshold),true,false);
    @result: 
        if((@isOK = true) or (@force = true) or (@counter>=@maxLoop),
            @upper,
            if((luma(@lower) < 25%),
                .adjustContrast(tint(@upper,@adjust),@lower,@threshold,(@counter + 1))[@result],
                if((luma(@lower) < luma(@upper)),
                    .adjustContrast(tint(@upper,@adjust),@lower,@threshold,(@counter + 1))[@result], 
                    .adjustContrast(shade(@upper,@adjust),@lower,@threshold,(@counter + 1))[@result],
                ),
            )
        );
    @debug: 
        if((@isOK = true) or (@force = true) or (@counter>=@maxLoop),
            e('upper: ') luma(@upper) 
            e('\A lower: ') luma(@lower) 
            e('\A brightest: ') @contrast[@brightest]  
            e('\A adjust: ') @adjust 
            e('\A result: ') @contrast[@result] 
            e('\A isOK ? ==>') @isOK e('(@{counter} loop)'),
            if((luma(@lower) < 50%),
                .adjustContrast(tint(@upper,@adjust),@lower,@threshold,(@counter + 1))[@debug],
                .adjustContrast(shade(@upper,@adjust),@lower,@threshold,(@counter + 1))[@debug],
            )
        );
}

.bg(@color){
    @color-var: if(iscolor(@color), @color, var(escape('--@{color}')));
    @color-raw: if(iscolor(@color),@color,@@color);
    background-color: hsla(from @color-var var(--bg-h, h) var(--bg-s, s) var(--bg-l, l) / var(--bg-a, 1)) ;
    color: .getBestReadableFontColorOn(@color-raw)[@result];
    // color: .adjustContrast(#body[color],@color-raw)[@result];
    // .debug(.adjustContrast(#body[color],@color-raw)[@debug]); 
    padding: var(--spacing);
    a{
        // --link-color: mix(#link[color], .getBestReadableFontColorOn(@color-raw)[@result],60%);
        // .debug(luma(@color-raw) luma(#link[color]));
        --link-color: .adjustContrast(#link[color],@color-raw)[@result];
        &:hover{
            // --link-color: mix(#link[@color-hover], .getBestReadableFontColorOn(@color-raw)[@result],60%);
            --link-color: .adjustContrast(#link[@color-hover],@color-raw,@threshold:2)[@result];
            // .debug(.adjustContrast(#link[@color-hover],@color-raw,@threshold:2)[@debug]);
        }
    }
}


.contrast(@color1,@color2){
    @luma1     : luma(@color1);
    @luma2     : luma(@color2);
    @brightest : max(@luma1, @luma2);
    @darkest   : min(@luma1, @luma2);
    // @result: if(@brightest = luma(@color1),
    //         ((red(@color1) * .299) + (green(@color1) * .587) + (blue(@color1) * .114)) - ((red(@color2) * .299) + (green(@color2) * .587) + (blue(@color2) * .114)),
    //         ((red(@color2) * .299) + (green(@color2) * .587) + (blue(@color2) * .114)) - ((red(@color1) * .299) + (green(@color1) * .587) + (blue(@color1) * .114))
    //     );
    // @result    : if(@darkest > 0%, ((@brightest + 5) / (@darkest + 5)), ((@brightest + 5) / (@darkest + 5)));
    @result    : if(@darkest > 0%, ((@brightest ) / (@darkest )), ((@brightest ) / 1));
}

// @RED   : 0.2126;
// @GREEN : 0.7152;
// @BLUE  : 0.0722;
// @GAMMA : 2.4;
// .luma(@color){
//     @r: if(((red(@color) / 255) <= 0.03928),
//         (red(@color) / 255) / 12.92,
//         pow((((red(@color) / 255) + 0.055) / 1.055), @GAMMA)
//     );
//     @g: if(((green(@color) / 255) <= 0.03928),
//         (green(@color) / 255) / 12.92,
//         pow((((green(@color) / 255) + 0.055) / 1.055), @GAMMA)
//     );
//     @b: if(((blue(@color) / 255) <= 0.03928),
//         (blue(@color) / 255) / 12.92,
//         pow((((blue(@color) / 255) + 0.055) / 1.055), @GAMMA)
//     );
//     @result:(@r * @RED) + (@g * @GREEN) + (@b * @BLUE);
// }

each(#colors(),{
    .bg-@{key}{
        .bg(@value);
    }
})
each(#alias(),{
    .bg-@{key}{
        .bg(@key);
    }
})
.bg-none{
    background: transparent;
    color: inherit;
}

each(range(0,100,10),{
    .bg-a-@{value}{
        --bg-a: ~(@value*1%);
    }
    .bg-l-@{value}{
        --bg-l: ~(@value*1%);
    }
    .bg-s-@{value}{
        --bg-s: ~(@value*1%);
    }
})