.bg(@color){
    @color-var: if(iscolor(@color), @color, var(escape('--@{color}')));
    @color-raw: if(iscolor(@color),@color,@@color);
    
    --block-background: hsla(from @color-var var(--bg-h, h) var(--bg-s, s) var(--bg-l, l) / var(--bg-a, 1)) ;
    --block-color: .getBestReadableFontColorOn(@color-raw)[@result];
    --link-color: .adjustContrast(#link[color],@color-raw)[@result];
    --link-color-hover: .adjustContrast(#link[@color-hover],@color-raw,@threshold:2)[@result];
    color: var(--block-color);
    background: var(--block-background);
    padding: var(--block-spacing,var(--spacing));
}

each(#colors(),{
    .bg-@{key}{
        .bg(@value);
    }
})
each(#alias(),{
    .bg-@{key}{
        .bg(@key);
    }
    // ALIAS BLOCKS
    .block-@{key}{
        & when (contrast(@value) = #fff){
            --block-color:      color-mix(in oklab, var(escape('--@{key}')) 90%, #000);
            --block-background: color-mix(in oklab, var(escape('--@{key}')) 40%, #fff);
        }
        & when (contrast(@value) = #000){
            --block-color:      color-mix(in oklab, var(escape('--@{key}')) 70%, #000);
            --block-background: color-mix(in oklab, var(escape('--@{key}')) 60%, #fff);
        }
        color: var(--block-color);
        background: var(--block-background);
        padding: var(--block-spacing,var(--spacing));
        // .debug(luma(@value))
    }
})
.bg-none{
    --block-background: transparent;
    --block-color: inherit;
}
.bg-theme{
    .bg(transparent);
    --block-background: var(--theme);
    --block-color:      var(--theme-font);
}

each(range(0,100,10),{
    .bg-a-@{value}{
        --bg-a: ~(@value*1%);
    }
    .bg-l-@{value}{
        --bg-l: ~(@value*1%);
    }
    .bg-s-@{value}{
        --bg-s: ~(@value*1%);
    }
})