// TODO: proper configuration
:root{
	--img-fit: scale-down;
	--img-bg: #default[block-background];
}

img{ max-width: 100%; height: auto; }

.img-container{.imgContainer();}
img[class*=r_]{.imgContainer();}
.imgContainer(@fit:false,@bg:false,@pos:false,@ratio:false){
	& when not(@fit = false)  {--img-fit:   @fit; }
	& when not(@bg = false)   {--img-bg:    @bg; }
	& when not(@pos = false)  {--img-pos:   @pos; }
	& when not(@ratio = false){--img-ratio: @ratio; }
  	display: block;	
	position: relative;	
	overflow: hidden;	
	max-width: 100%;	
	padding: 0;
  	background: var(--img-bg);
 	img{
 		height: 100%;
 		width: 100%;
 		object-fit: var(--img-fit);
 		object-position: var(--img-pos,initial);
 		aspect-ratio: var(--img-ratio,auto);
 	}
 	iframe{height: 100%; width: 100%; margin: 0;}
 	>figure:has(img){display: contents;}
  	
  	&.no-bg{background: none;}
  	&.rounded-circle{
  	  	&:is(img),
  	  	img{border-radius: 50%; aspect-ratio: 1/1;}
  	}
  	&:where(img){
 		object-fit: var(--img-fit);
 		object-position: var(--img-pos,initial);
 		aspect-ratio: var(--img-ratio,auto);
  	  	&:not([class*="w-"]){width: fit-content;}
  	}
  	&.fit--natural, 
  	.fit--natural &{
  		width: fit-content;
  		height: fit-content;
  	}
}

each(@sides,.(@side_1){
	& when (@side_1 = left) or (@side_1 = right){
		.img-pos--@{side_1}{
			--img-pos: @side_1;
		}
		each(@sides,.(@side_2){
			& when (@side_2 = top) or (@side_2 = bottom){
				.img-pos--@{side_2}{
					--img-pos: @side_2;
				}
				.img-pos--@{side_2} .img-pos--@{side_1},
				.img-pos--@{side_1} .img-pos--@{side_2},
				.img-pos--@{side_1}.img-pos--@{side_2}{
					--img-pos: @side_1 @side_2;
				}
			}
		})
	}
})

.img-fit--cover,
.fit--cover {
	--img-fit:cover;
}
.img-fit--contain,
.fit--contain {
	--img-fit:contain;
}
.img-fit--unset,
.fit--unset {
	--img-fit:unset;
}
.img-fit--none,
.fit--none {
	--img-fit:none;
}
.img-fit--scaledown,
.fit--scaledown {
	--img-fit:scale-down;
}
.img-fit--natural,
.fit--natural {
	--img-fit:none;
	&:is(img),img{width: auto; height: auto;}
}


each(@ratios, {
	.img-r--@{key},
	.r_@{key} {
		--img-ratio: @value; 
	}
	.ar_@{key}{aspect-ratio: @value;}
})

/* IMAGES STYLING */
img.fl-left,
.fl-left>img:first-child:last-child{margin: 0 #body[line-height]*1em 0.5em 0;}
img.fl-right,
.fl-right>img:first-child:last-child{margin: 0 0 0.5em #body[line-height]*1em;}


.img-effect(@idle,@hover:false){
	& img, img&:is(img){
		& when (isruleset(@hover)) {
			transition: all 0.6s; outline: 1px solid transparent;
		}
		@idle();
	}
	& when (isruleset(@hover)) {
		&:hover img, img&:is(img):hover{
			@hover();
		}
	}
}
.zoomin{
	.img-effect(
		{transform: scale3d(1,1,1);},
		{transform: scale3d(1.2,1.2,1.2);}
	)
}
.zoomout{
	.img-effect(
		{transform: scale3d(1.2,1.2,1.2);},
		{transform: scale3d(1,1,1);}
	)
}
.fadetocolor{
	.img-effect(
		{filter: grayscale(100%);},
		{filter: grayscale(0%);}
	)
}
.fadetogrey{
	.img-effect(
		{filter: grayscale(0%);},
		{filter: grayscale(100%);}
	)
}
.grayscale{
	.img-effect({filter: grayscale(100%);})
}