.media-min(@breakpoint,@content) {
	@media (min-width: #breakpoint[$@breakpoint]) {
		@content();
	}
}
.media-max(@breakpoint,@content) {
	@media (max-width: #breakpoint[$@breakpoint]) {
		@content();
	}
}
.media-mm(@breakpointMin,@breakpointMax,@content) {
	@media (min-width: #breakpoint[$@breakpointMin]) and (max-width: #breakpoint[$@breakpointMax]) {
		@content();
	}
}

.rgb(@hex){
    @result: red(@hex),green(@hex),blue(@hex);
}

.getBestReadableFontColorOn(@color,@darkest: #default[dark-mode-color],@brightest: #default[light-mode-color]){
    @result: contrast(@color,@darkest,@brightest);
}

.debug(@str:''){
	&:after{
		background: @warning;
		color: .getBestReadableFontColorOn(@warning)[@result] !important;
        display: block;
        white-space: pre-wrap;
        content: var(--debug,%("%a",@str));
        padding: 0.75em 1em;
        margin-bottom: 0.5em;
        font-size: 0.8em;
    }
}
.debug {.debug();}


@maxLoop: 5;
.adjustContrast(@upper,@lower,@threshold: 4%,@counter:0,@force:false){
    @contrast: .contrast(@upper,@lower);
    @adjust: 25;
    @isOK : boolean((@contrast[@result] >= @threshold),true,false);
    @result: 
        if((@isOK = true) or (@force = true) or (@counter>=@maxLoop),
            @upper,
            if((luma(@lower) < 25%),
                .adjustContrast(tint(@upper,@adjust),@lower,@threshold,(@counter + 1))[@result],
                if((luma(@lower) < luma(@upper)),
                    .adjustContrast(tint(@upper,@adjust),@lower,@threshold,(@counter + 1))[@result], 
                    .adjustContrast(shade(@upper,@adjust),@lower,@threshold,(@counter + 1))[@result],
                ),
            )
        );
    @debug: 
        if((@isOK = true) or (@force = true) or (@counter>=@maxLoop),
            e('upper: ') luma(@upper) 
            e('\A lower: ') luma(@lower) 
            e('\A brightest: ') @contrast[@brightest]  
            e('\A adjust: ') @adjust 
            e('\A result: ') @contrast[@result] 
            e('\A isOK ? ==>') @isOK e('(@{counter} loop)'),
            if((luma(@lower) < 50%),
                .adjustContrast(tint(@upper,@adjust),@lower,@threshold,(@counter + 1))[@debug],
                .adjustContrast(shade(@upper,@adjust),@lower,@threshold,(@counter + 1))[@debug],
            )
        );
}

.contrast(@color1,@color2){
    @luma1     : luma(@color1);
    @luma2     : luma(@color2);
    @brightest : max(@luma1, @luma2);
    @darkest   : min(@luma1, @luma2);
    // @result    : if(@darkest > 0%, ((@brightest + 5) / (@darkest + 5)), ((@brightest + 5) / (@darkest + 5)));
    @result    : if(@darkest > 0%, ((@brightest ) / (@darkest )), ((@brightest ) / 1));
}


// Return opaque color
// opaque(#fff, rgba(0, 0, 0, .5)) => #808080
.opaque(@background, @foreground) {
  @result: mix(fadein(@foreground,100%), @background, 100%);
}