.media-min(@breakpoint,@content) {
	@media (min-width: #breakpoint[$@breakpoint]) {
		@content();
	}
}
.media-max(@breakpoint,@content) {
	@media (max-width: #breakpoint[$@breakpoint]) {
		@content();
	}
}
.media-mm(@breakpointMin,@breakpointMax,@content) {
	@media (min-width: #breakpoint[$@breakpointMin]) and (max-width: #breakpoint[$@breakpointMax]) {
		@content();
	}
}

.rgb(@hex){
    @result: red(@hex),green(@hex),blue(@hex);
}

.getBestReadableFontColorOn(@color,@darkest: @default[dark-mode-color],@brightest: @default[light-mode-color]){
    @result: contrast(@color,@darkest,@brightest);
}

.debug(@str:''){
	&:after{
		background: @warning;
		color: .getBestReadableFontColorOn(@warning)[@result] !important;
        display: block;
        white-space: pre-wrap;
        content: var(--debug,%("%a",@str));
        padding: 0.75em 1em;
        margin-bottom: 0.5em;
        font-size: 0.8em;
    }
}
.debug {.debug();}