/*-----------------------------------------------------------------------------------------------------------------------------*/
// FLEX
.flex{display: flex;}

*[class*='flex-']:not([class*="-grow"]){display: flex;}
*[class*='flex-'][class*='-row']{flex-direction: row;}
*[class*='flex-'][class*='-rowreverse']{flex-direction: row-reverse;}
*[class*='flex-'][class*='-column']{flex-direction: column;}
*[class*='flex-'][class*='-columnreverse']{flex-direction: column-reverse;}

*[class*='flex-'][class*='-wrap']{flex-wrap: wrap;}
*[class*='flex-'][class*='-nowrap']{flex-wrap: nowrap;}

@each $value in $flexvalues{
  $valueflat : str-replace($value,'-','');
  *[class*='flex-'][class*='-justifycontent--#{$valueflat}']{justify-content: $value;}
  *[class*='flex-'][class*='-alignitems--#{$valueflat}']{align-items: $value;}

  .alignself--#{$valueflat}      {align-self: $value;}
  .justifyself--#{$valueflat}    {justify-self: $value;}
  .alignitems--#{$valueflat}     {align-items: $value;}
  .justifyitems--#{$valueflat}   {justify-items: $value;}
  .aligncontent--#{$valueflat}   {align-content: $value;}
  .justifycontent--#{$valueflat} {justify-content: $value;}
}

@for $index from 0 through 5 {
  .flexgrow--#{$index},
  *[class*='flex-'][class*='-flexgrow']>*[class*="flexgrow--#{$index}"],
  *[class*='flex-'][class*='-flexgrow--#{$index}']>*{flex-grow: $index;}
}

