/*-----------------------------------------------------------------------------------------------------------------------------*/
// FONTS CLASSES
.ft-thin{font-weight: 100;}
.ft-lighter, 
.ft-extralight{font-weight: 200;}
.ft-l,
.ft-light{font-weight: 300;}
.ft-n,
.ft-normal{font-weight: 400;}
.ft-medium{font-weight: 500;}
.ft-semibold{font-weight: 600;}
.ft-b,
.ft-bold{font-weight: 700;}
.ft-extrabold,
.ft-bolder{font-weight: 800;}

.ft-i{font-style: italic;}
.ft-u{text-decoration: underline;}
.ft-u-no{text-decoration: none;}
.ft-upper{text-transform: uppercase;}
.ft-lower{text-transform: lowercase;}
.ft-notrs{text-transform: none;}
.ft-nowrap{white-space: nowrap;}
.ft-sc{font-variant: small-caps;}
.ft-asc{font-variant: all-small-caps;}

.ft-inherit{color: inherit;}

@for $index from 0 through 10 {
  // @if $index != 0 {
  //   .ft-minus-#{$index}#{0}{font-size: #{1 - ($index * 0.10)}em;}
  //   .ft-plus-#{$index}#{0}{font-size: #{1 + ($index * 0.10)}em;}
  // }
  .ft-#{$index}-em{font-size: #{$index}em; line-height: clamp(1em,body(line-height)*1em,52px); }
  .ft-#{$index}-rem{font-size: #{$index}rem; line-height: clamp(1em,body(line-height)*1em,52px); }
  @for $index2 from 1 through 9 {
    .ft-#{$index}-#{$index2}-em{font-size: unquote("#{$index}.#{$index2}em");line-height: clamp(1em,body(line-height)*1em,52px);}
    .ft-#{$index}-#{$index2}-rem{font-size: unquote("#{$index}.#{$index2}rem");line-height: clamp(1em,body(line-height)*1em,52px);}
  }
}

@each $key, $value in $colors{
  .ft-#{$key},
  .ft-#{$key}[class*="btn"],
  .ft-#{$key}[class*="btn"]:not([class*="btn-bg"]):not([class*="btn-bd"]),
  button.ft-#{$key}:not([class*="btn-bg"]):not([class*="btn-bd"]),
  input[type=button].ft-#{$key}:not([class*=btn-bg]):not([class*=btn-bd]),
  input[type=submit].ft-#{$key}:not([class*=btn-bg]):not([class*=btn-bd]),
  .ft-#{$key}[class*="bg-"]{color: $value;}
}
