$griditem-minwidth: 35ch !default;
:root{
    --griditem-minwidth: #{$griditem-minwidth};
}

.d-grid{display: grid; gap: $spacing;
  @include media-max(xs){gap: $spacing/2; }
  @for $index from 1 through 12{
    &.cols-#{$index}{grid-template-columns: #{repeat('1fr ',$index)}; grid-template-columns: #{repeat('minmax(0,1fr) ',$index)};}
    &.rows-#{$index}{grid-template-rows: #{repeat('1fr ',$index)}; grid-template-rows: #{repeat('minmax(0,1fr) ',$index)};}
  }
  @each $key, $value in $breakpoints{
    @include media-max($key){
      @for $index from 1 through 12{
        &.cols-#{$key}-#{$index}{grid-template-columns: #{repeat('1fr ',$index)}; grid-template-columns: #{repeat('minmax(0,1fr) ',$index)};}
        &.rows-#{$key}-#{$index}{grid-template-rows: #{repeat('1fr ',$index)}; grid-template-rows: #{repeat('minmax(0,1fr) ',$index)};}
      }
    }
  }
  &>*{ 
    &:not([class*=m-bottom]){margin-bottom: 0;}
    @include lastChildNoMargin();
    @for $index from 1 through 12{
      &.cols-span-#{$index}{grid-column: span $index;}
      &.rows-span-#{$index}{grid-row: span $index;}
      &.cols-start-#{$index}{grid-column-start: $index;}
      &.cols-end-#{$index}{grid-column-end: $index+1;}
      @each $key, $value in $breakpoints{
        @include media-max($key){
          @for $index from 1 through 12{
            &.cols-span-#{$key}-#{$index}{grid-column: span $index;}
            &.rows-span-#{$key}-#{$index}{grid-row: span $index;}
          }
        }
      }
    }
  }
  &.flow{grid-auto-flow: dense;}
  &.cols-autofill{
    grid-template-columns: Repeat(auto-fill, minmax($griditem-minwidth, 1fr));
    grid-template-columns: Repeat(auto-fill, minmax(var(--griditem-minwidth), 1fr));
  }
  &.cols-autofit{
    grid-template-columns: Repeat(auto-fit, minmax($griditem-minwidth, 1fr));
    grid-template-columns: Repeat(auto-fit, minmax(var(--griditem-minwidth), 1fr));
    @media (max-width: 45ch) {
      grid-template-columns: Repeat(auto-fit, minmax(100%, 1fr));
    }
  }
}
.cols-span-all{grid-column: 1/-1;}
.cols-end-end{grid-column-end: -1;}

@for $index from 0 through 6{
  &.gap-#{$index}{gap: $spacing*$index;
    @include media-max(xs){gap: ($spacing*$index)/2;}
  }
  &.gap-#{$index}-em{gap: 1em*$index ;}
  &.gap-#{$index}-rem{gap: 1rem*$index ;}
}

// GRID ORDERS
@for $index from 0 through 12{
  .cols-order-#{$index}{order: $index;}
  @each $key, $value in $breakpoints{
    .cols-order-#{$key}-#{$index}{
      @include media-max(#{$key}){
        order: $index;
      }
    }
  }
}

