/*-----------------------------------------------------------------------------------------------------------------------------*/
// INPUTS
%input{
  @include transition(all 0.4s);
  background-color: input(background);
  color: contrastFW(input(font-color),input(background));
  border: 0;
  border: input(border-size) solid input(border-color);
  @if input(radius) == true{
    border-radius: $radius;
  }
  @else{
    border-radius: 0;
  }
  outline: none;
  width: 100%;
  margin-bottom: 1em;
  margin-right: 1em;
  @include media-max(xs){
    margin-bottom: 0.5em;
    margin-right: 0.5em;
  }
  td &:last-child {margin-bottom: 0;margin-right: 0;
    @include media-max(xs){margin-bottom: 0;margin-right: 0;}
  }
  padding: .25em .5em;
  font-size: 1em;
  line-height: 1.5em;
  &:focus,&.focus,&.active{
    background-color: input-focus(background);
    border-color: input-focus(border-color);
    color: contrastFW(input-focus(font-color),input-focus(background));
  }
  &[required]{
    @if function-exists(input-valid) {
      &:valid{
        background-color: input-valid(background);
        border-color: input-valid(border-color);
        color: contrastFW(input-valid(font-color),input-valid(background));
      }
    }
    @if function-exists(input-invalid) {
      &:invalid{
        background-color: input-invalid(background);
        border-color: input-invalid(border-color);
        color: contrastFW(input-invalid(font-color),input-invalid(background));
      }
    }
  }

  &.valid{
    @if function-exists(input-valid) {
      @extend [required]:valid;
    }
  }
  &.invalid{
    @if function-exists(input-invalid) {
      @extend [required]:invalid;
    }
  }

  @include input-placeholder{color: contrastFW(input(placeholder-font-color),input(background));}
  &:focus,
  &.focus,
  &.active{@include input-placeholder{color: contrastFW(input(placeholder-font-color),input-focus(background));}}
} 

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="date"],
// input[type="range"],
input[type="number"],
select,
textarea{@extend %input;}

@if(input(background) == transparent){option{color:body(font-color);} }
textarea{@include transition(background 0.4s); min-height: 150px; height: auto; max-width: 100%; resize: vertical;}
input.url, input[type="url"],
input.email, input[type="email"]{
  &:focus:valid{
    @if function-exists(input-valid) {
      @extend %input[required]:valid;
    }
  }
  &:invalid{
    @if function-exists(input-invalid) {
      @extend %input[required]:invalid;
    }
  }
}
input.date, input[type="date"]{padding-right: 0.3em;}

// input.number, input[type="number"]{width: auto;}

input.range,input[type="range"]{position: relative; padding: 0.4em 0; border: 0; cursor: pointer; }
input.range:after,
input[type="range"]:after,
input.range:before,
input[type="range"]:before{position: absolute; top: 1.2em; color: body(font-color) }
input.range:before,input[type="range"]:before{left:0em; content: attr(min); }
input.range:after,input[type="range"]:after{right: 0em; content: attr(max); }

input.nofill{opacity: 0; padding: 0 !important; margin: 0 !important; width: 0 !important; height: 0 !important; display: block; }

%checkbox, %radio{
  // opacity: 0; padding: 0; margin:0; @include size(0); position: absolute;
  height: 1px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  width: 1px;
  margin-top: 1em;
  margin-left: 0.35em;
  &+label{
    text-transform: none;
    padding: .25em .5em;
    font-size: 1em;
    line-height: 1.5em;
    padding-left: 1.4em;
    border: input(border-size) transparent;
    margin-right: 1em;
    margin-bottom: 1em;
    position: relative;
    cursor: pointer;
    display: block;
    &:before ,&:after{
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      line-height: body(line-height);
    }
    &:before{
      @include size(1em);
      margin-top: 0.5em;
      border: input(border-size) solid input(border-color);
    }
    &:after{
      @include size(1.15em,0.6em);
      margin-top: 0.25em;
      border: 2px solid input(font-color);
      border-top: 2px solid color(none);
      border-right: 2px solid color(none);
      @include transform(rotate(-55deg) skew(-25deg));
      @include transition(opacity 0.1s);
      opacity: 0;
    }
  }
  &:checked+label{
    &:after{opacity: 1;}
  }
}
%radio{
  &+label{
    &:before {border-radius: 100%; }
    &:after{
      border-radius: 100%;
      border: 0;
      background-color: input(font-color);
      @include transition(all 0.3s);
      // @include size(0.55em);
      // @include transform(translateX((1em - 0.55em) / 2) translateY((body(line-height) - 0.55em) / 2));
      @include size(1em);
      @include transform(none);
      border: 0.225em solid input(background);
      outline: input(border-size) solid input(border-color);
      outline-offset: input(border-size)*-1;
      margin-top: 0.5em;
    }
  }
}

input.checkbox,input[type="checkbox"]{@extend %checkbox;}
input.radio,input[type="radio"]{@extend %radio;}

// KEEP FOR LEGACY
// input:placeholder-shown{color: contrastFW(input(placeholder-font-color),input(background));}
// input::-webkit-input-placeholder{color: contrastFW(input(placeholder-font-color),input(background));}
// input::-moz-placeholder{color: contrastFW(input(placeholder-font-color),input(background));}
// input:-ms-input-placeholder{color: contrastFW(input(placeholder-font-color),input(background));}
// input::placeholder{color: contrastFW(input(placeholder-font-color),input(background));}

// input:focus:placeholder-shown,
// input.focus:placeholder-shown,
// input.active:placeholder-shown{color: contrastFW(input(placeholder-font-color),input-focus(background));}
// input:focus::-webkit-input-placeholder,
// input.focus::-webkit-input-placeholder,
// input.active::-webkit-input-placeholder{color: contrastFW(input(placeholder-font-color),input-focus(background));}
// input:focus::-moz-placeholder,
// input.focus::-moz-placeholder,
// input.active::-moz-placeholder{color: contrastFW(input(placeholder-font-color),input-focus(background));}
// input:focus:-ms-input-placeholder,
// input.focus:-ms-input-placeholder,
// input.active:-ms-input-placeholder{color: contrastFW(input(placeholder-font-color),input-focus(background));}
// input:focus::placeholder,
// input.focus::placeholder,
// input.active::placeholder{color: contrastFW(input(placeholder-font-color),input-focus(background));}

label{margin-bottom: 0.2rem;}

.form-group{position: relative; margin-bottom: 1em;
  @include media-max(xs){margin-bottom: 0.5em;}
  %input, %checkbox+label, %radio+label{
    margin-bottom: 0;
    @include media-max(xs){margin-bottom: 0;}
  }
  textarea{display: block;}
  label{ text-align: left; font-size: 0.8em;
    &[for]:not([for=""]){ cursor: pointer;}
    &:first-child+%radio,
    &:first-child+%checkbox{display: block; }
  }
  .helper{opacity: 0.6; margin: 0.2rem 0 0; font-size: 0.8em; display: block;}
  &:last-child>*:last-child{margin-bottom: 0;}
  .filler{display: block;}
}
.form-group-inline{@extend .form-group;
  %checkbox+label, %radio+label{ display: inline-block; }
}

.input-group{margin-bottom: 1em; position: relative;
  @include media-max(xs){margin-bottom: 0.5em;}
  &:not(.d-grid){display: flex;}
  .form-group>&{@include lastChildNoMargin();}
  .select2FW-wrapper,.select2-container,%input{position: relative; width: 100%; max-width: 100%; min-width: 0; flex-grow: 1; flex-basis: 0; margin-right: 2px;margin-bottom: 0;flex-basis: 0;}
  .btn#{$exclude}{margin: 0 1px; display: inline-flex; align-items: center; justify-content: center; flex-shrink: 0;}
  &.form-shrink{
    .btn#{$exclude}{padding: .25em .75em; font-size: 1em; line-height: 1.5em;
      &.squared{padding: 0; width: 2.15em; width: calc(2em + #{input(border-size)*2});}
      // &:not(.icon-last):not(.icon-first){svg{font-size: 1.2em;}}
      &.icon-first{
        svg,i.fa{ margin-right: 0.35em; }
      }
      &.icon-last{
        svg,i.fa{ margin-left: 0.35em; }
      }
    }
  }
}
