a{
  color: link(font-color);
  text-decoration: none;
  @if link(underline) == true{
    text-decoration: underline;
  }
  &:hover{
    color: link(font-color-hover); 
    text-decoration: none;
    @if link(underline-on-hover) == true{
      text-decoration: underline;
    }
  };
  &:focus{color: link(font-color-focus); outline: none;};
  &.disabled,&[disabled]{@extend .no-events; text-decoration: line-through;}

  @each $key, $value in $colors{
    &.ft-#{$key}{color: $value;}
  }
}

ul,
ol,
p{margin-bottom: 1em; margin-top: 0; @extend .pbreak; }

.txt-limit p, 
.txt-limit ul, 
.txt-limit ol, 
p.txt-limit{max-width: body(line-height)*60ch; }
.no-txt-limit p, 
.no-txt-limit ul, 
.no-txt-limit ol, 
p.no-txt-limit{max-width: none; }


/*-----------------------------------------------------------------------------------------------------------------------------*/
// TITLES
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  color: inherit; line-height: inherit; margin-bottom: 0.65em; font-weight: 600;
  *+&{margin-top: body(line-height)*1em;} // TESTING
  // &+ul, &+ol, &+p{margin-top: 0;} // TESTING
  &[class*="sep-bottom"]{margin-bottom: 0; &:after{margin-top: 1rem; margin-bottom: 2rem;}}
  &[class*="sep-top"]{margin-top: 0; &:before{margin-bottom: .4rem; margin-top: 2rem;}}
  &[class*="sep-right"],
  &[class*="sep-left"]{@include flex-container(row,nowrap,center,center); }
}
@for $index from 1 through 6{
  h#{$index},
  .h#{$index}{ font-size: 2em - (0.25em * (-1 + $index));
    @if $index < 4{line-height: 1.2;}
  }
}
h1,.h1{text-transform: uppercase;}

/*-----------------------------------------------------------------------------------------------------------------------------*/
// LISTS
ul.reset{list-style: none; padding:0; margin:0;@extend .no-pbreak; }
ul.reset>li{display: inline-block;}
ul.tags{@extend .reset; overflow: hidden;}
ul.tags>li{padding: 3px 8px 5px; background: btn(background); color: btn(font-color);display:block; float: left; margin: 2px; @extend .rad; }

ul,ol{  padding-left: 2.8ch; line-height: 1.5; margin-bottom: 1em;
  &>ul,&>ol{margin-top: 0.5em;
    &:not(:last-child){margin-bottom: 0.5em;}
  }
}