#colors(){
	blue         : #0087D8;
	green        : #07BA83;
	red          : #FB3F59;
	yellow       : #ffe000;
	black        : #000000;
	blacklight   : #111414;
	greystrong   : #535052;
	grey         : #7A7778;
	greylight    : #DDDDDD;
	white        : #ffffff;
	none         : transparent;
}

#alias() {
	primary   : #colors[blue];
	secondary : hsl(hue(spin(#colors[blue],180)),saturation(#colors[blue] + 30),lightness(#colors[blue] + 50));
	success   : #colors[green];
	info      : #colors[blue];
	warning   : #colors[yellow];
	error     : #colors[red];
}

@default :{
	spacing: 1em;
	radius: 10px;
	border-width: 2px;
	light-mode-color: #colors[blacklight];
	dark-mode-color : darken(#colors[white],1%);
}

#header(){}
#body(){
	background: hsl(from @primary h s 95);
	color: contrast(hsl(hue(@primary),saturation(@primary),95),@default[light-mode-color],@default[dark-mode-color]);
	line-height: 1.45;
	font-weight: 400;
	font-size: 18px;
	font-family: sans-serif;
	@font-size-sm: 16px;
	@font-size-xxs: 14px;
}
#footer(){}
#heading(){
	color         : inherit;
	line-height   : inherit;
	margin-bottom : 0.65em;
	font-weight   : 600;
}
#input(){
	background              : #colors[white];	
	color                   : #colors[greystrong];	
	border-color            : #colors[greylight];
	border-width            : 1px;
	@border-radius          : false;
	@placeholder-font-color : #colors[grey];
}
#button(){}
#link(){
	color: @primary;
	@underline: true;
	@color-hover: @secondary;
	@underline-hover: false;
	@color-focus: @secondary;
	@underline-focus: true;
}
#breakpoint(){
	xl  : 1400px;
	lg  : 1200px;
	md  : 992px;
	sm  : 768px;
	xs  : 576px;
	xxs : 400px;
}
#container(){
	xl  : 1320px;
	lg  : 1140px;
	md  : 960px;
	sm  : 720px;
	xs  : 540px;
	xxs : 100%;
}